$colors: (
    common: (white: #ffffff,
        black: #252B42,
        gray: #737373,
        light-gray: #BDBDBD,
        discount-price: #2DC071,
    ),
    heading: (primary: #252B42,
    ),
    text: (primary: #96BB7C,
        body: #737373,
    ),
    theme: (primary: #96BB7C,
        secondary: #252B42,
        transparent: transparent,
    ),
    icon: (pr: #96BB7C,
        1: #BDBDBD,
        2: #E74040,
        3: #F3CD03,
        4: #FFCE31,
        bg: #FFF2F3,
    ),
    bg: (light-blue: #DDF4FF,
        page: #FFFFFF,
        dark: #2D4059,
        red: #E74040,
        input: #F9F9F9,
        copyright: #FAFAFA,
    ),
    border:(1: #E5E5E5,
    )
);