footer {

    .footer-row {
        // row-gap : 30px;

        .footer-title {
            margin: 20px 0;
        }

        .col-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25%;
            // gutter: 50px;
            // justify-content: space-evenly;

            // @media (max-width: 768px) {
            //     gap: 10%;
            // }
        }

        .left-col,
        .right-col {
            min-width: 150px;
        }

        // .footer-links {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 10px;

        //     a {

        //         &:hover {
        //             color: var(--zo-theme-primary);
        //         }
        //     }

        //     i {
        //         color: var(--zo-theme-primary);
        //         font-size: 24px;
        //     }
        // }

        ul.footer-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 10px 0;

                a {
                    text-decoration: none;
                    color: var(--zo-text-body);

                    &:hover {
                        color: var(--zo-theme-primary);
                    }
                }
            }

            i {
                color: var(--zo-theme-primary);
                font-size: 24px;
            }

        }

    }


    .copyright {
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin: auto;

        .icons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 20px;
            color: var(--zo-icon-pr);
            font-size: var(--zo-fz-h3);
        }
    }
}