.hero-section {
    background: var(--zo-bg-light-blue);



    .main-subtitle {
        color: var(--zo-text-primary);
    }

    .main-heading {
        max-width: 540px;
        width: 100%;
        color: var(--zo-heading-primary);
        margin: 30px 0;
    }

    h4 {
        max-width: 460px;
        width: 100%;
    }

    .row {
        @media #{$md, $sm, $xs, $xss} {
            flex-direction: column-reverse;
        }
    }

    .left-content {
        // padding: 0 10px;
        // padding-left: 120px;
        // padding-right: 30px;

        h4 {
            margin: 30px 0;
            color: var(--zo-text-body);
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .right-content {
        position: relative;

        .base-img {
            position: relative;
            width: 100%;
            height: auto;
            z-index: 2;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../imgs/hero-imgs/base-bg.png");
                background-position: bottom center;
                background-size: 100% auto;
                background-repeat: no-repeat;
                z-index: -1;
            }


        }

        .top-left-img {
            position: absolute;
            top: 40%;
            left: -80px;
            max-width: 182px;
            // transform: translate(-50%, 0);
            z-index: 3;

            img {
                max-width: 182px;
                width: 100%;
                height: auto;
            }

            @media (max-width: 1100px) {
                left: 0;
                max-width: 145px;
            }

            @media (max-width: 991px) {
                left: -80px;
                max-width: 182px;
            }

            @media (max-width: 880px) {
                left: 0;
            }

            @media (max-width: 600px) {
                max-width: 145px;
            }


        }

        .right-center-img {
            position: absolute;
            top: 60%;
            right: -85px;
            transform: translate(0, -50%);
            max-width: 196px;
            z-index: 3;

            img {
                max-width: 196px;
                width: 100%;
                height: auto;
            }

            // @for $i from 90 through 0 {
            //     $mw: 1470px - $i;
            //     $right: 80px - $i;

            //     @media (max-width: $mw) {
            //         right: $right;
            //     }
            // }

            // @media (max-width: 1455px) {
            //     right: -30px;
            // }

            @media (max-width: 1470px) {
                right: -50px;
            }

            @media (max-width: 1450px) {
                right: -30px;
            }

            @media (max-width: 1440px) {
                right: -10px;
            }

            @media (max-width: 1435px) {
                right: -5px;
                max-width: 150px;
            }

            @media (max-width: 991px) {
                right: -75px;
                max-width: 176px;
            }

            @media (max-width: 880px) {
                right: 0;
            }

            @media (max-width: 865px) {
                right: -10px;
            }

            @media (max-width: 630px) {
                right: 0;
            }

            @media (max-width: 600px) {
                max-width: 120px;
            }


        }

        .bottom-left-img {
            position: absolute;
            bottom: 0;
            left: 0;
            // transform: translate(-50%, 0);
            max-width: 219px;
            z-index: 3;


            img {
                max-width: 219px;
                width: 100%;
                height: auto;
            }

            @media (max-width: 600px) {
                max-width: 170px;
            }

        }
    }

}

.stats-section {
    text-align: center;

    h1 {
        min-width: 100%;
        color: var(--zo-theme-primary);
    }

    h5 {
        min-width: 100%;
        color: var(--zo-heading-primary);
    }

    // font-weight: var(--zo-fw-bold);

    // @media (max-width: 768px) {
    //     // flex: 1 1 100%;
    //     // flex-direction: column;
    //     gap: 30px;
    //     justify-content: center;
    //     // justify-content: space-around;
    // }
}

.quality-education-section {

    // .section-sub-title {
    //     color: var(--zo-text-primary);
    // }

    // .section-title {
    //     padding: 10px 0;
    //     color: var(--zo-heading-primary);
    // }


    // .qual-edu-cards {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // gap: 30px;
    // gutter: 50px;
    // justify-content: space-between;
    // margin: calc(-.5 * 30px) 0;

    // .qedu-card-col {
    //     margin: 0 30px;
    // }

    .single-card {
        // max-height: 268px;
        // height: 268px;
        // // width: 413px;
        padding: 35px 40px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: start;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

        .icon {
            height: 72px;
            width: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--zo-icon-bg);
        }

        h5 {
            margin: 20px 0;
        }

        hr {
            margin: 20px 0;
            max-width: 50px;
            opacity: 1;
            border-radius: 5px;
            border: 2px solid var(--zo-icon-2);
        }
    }

    // .single-card-1 {
    //     margin-right: 15px;
    // }

    // .single-card-2 {
    //     margin: 0 15px;
    // }

    // .single-card-3 {
    //     margin-left: 15px;
    // }
    // }
}

.live-action-video-section {

    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        min-height: 100%;
        // height: 100%;

        p {
            max-width: 350px;
            width: 100%;
        }
    }

    // .link-btn {
    //     display: flex;
    //     align-items: center;
    //     gap: 10px;

    //     i {
    //         font-size: 18px;
    //     }
    // }

    .right-content {
        position: relative;

        .base-img {
            position: relative;
            width: 100%;
            height: auto;
            z-index: 2;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../imgs/video-section/baseBG.png");
                background-position: bottom center;
                background-size: auto 75%;
                background-repeat: no-repeat;
                z-index: -1;
            }
        }

        .bottom-left-img {
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 233px;
            z-index: 3;

            img {
                max-width: 233px;
                width: 100%;
                height: auto;
            }

            @media (max-width: 600px) {
                max-width: 185px;
            }

            @media (max-width: 450px) {
                max-width: 155px;
            }
        }

        .right-center-img {
            position: absolute;
            right: 10%;
            bottom: 40%;
            transform: translate(0, 50%);
            max-width: 132px;
            z-index: 3;

            img {
                max-width: 132px;
                width: 100%;
                height: auto;
            }

            @media (max-width: 600px) {
                max-width: 105px;
            }

            @media (max-width: 450px) {
                max-width: 85px;
            }
        }

        .left-center-emoji {
            position: absolute;
            left: 15%;
            bottom: 35%;
            // transform: translate(0, 50%);
            max-width: 23px;
            z-index: 3;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 6px;
                width: 160%;
                height: 160%;
                opacity: 75%;
                background: #ffffff;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -1;
            }

            img {
                max-width: 23px;
                width: 100%;
                height: auto;
            }
        }

        .top-right-emoji {
            position: absolute;
            right: 16%;
            top: 35%;
            // transform: translate(0, 50%);
            max-width: 23px;
            z-index: 3;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 6px;
                width: 160%;
                height: 160%;
                opacity: 75%;
                background: #ffffff;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -1;
            }

            img {
                max-width: 23px;
                width: 100%;
                height: auto;
            }
        }

        .bottom-right-emoji {
            position: absolute;
            right: 15%;
            bottom: 16%;
            // transform: translate(0, 50%);
            max-width: 23px;
            z-index: 3;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 6px;
                width: 160%;
                height: 160%;
                opacity: 75%;
                background: #ffffff;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -1;
            }

            img {
                max-width: 23px;
                width: 100%;
                height: auto;
            }
        }
    }
}

.expert-teachers-section {

    .card-img {
        // width: 100%;
        max-height: 348px;
        // min-height: 348px;
        position: relative;
        overflow: hidden;

        span.onSale {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 1;
            padding: 10px;
            border-radius: 5px;
            color: var(--zo-common-white);
            background: var(--zo-bg-red);
            font-weight: var(--zo-fw-bold);
        }

        img {
            // max-height: 348px;
            min-height: 348px;
            height: 100%;
            width: 100%;
            object-fit: cover;

            &:hover {
                cursor: pointer;
                // max-height: 500px;
                // height: 100%;
                // min-height: 500px;
                // width: 150%;
                transform: scale(1.3);
                transition: all 0.5s ease;
            }
        }

        .icons {
            position: absolute;
            left: 50%;
            bottom: 25px;
            transform: translateX(-50%);
            z-index: 1;
            font-size: var(--zo-fz-h4);

            i {
                padding: 10px;
                border-radius: 50%;
                color: var(--zo-common-black);
                background: var(--zo-bg-page);
            }
        }
    }

    .card-content {
        padding: 25px 25px 35px;
    }

    .card-subtitle {
        // margin-bottom: 10px;
        // padding: 26px 25px 10px 25px;
        display: flex;
        justify-content: space-between;

        .sub-text {
            color: var(--zo-text-primary);
            font-weight: var(--zo-fw-bold);
        }

        .rating {
            padding: 5px;
            border-radius: 20px;
            color: var(--zo-common-white);
            background-color: var(--zo-bg-dark);
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: var(--zo-icon-4);
                margin-right: 5.5px;
            }
        }
    }

    .card-title {
        margin: 10px 0;
    }

    // .card-desc {
    //     padding: 10px 25px;
    // }

    .sale-count {
        // padding: 0 25px;
        color: var(--zo-common-gray);

        span {
            font-size: var(--zo-fz-h6);
            font-weight: var(--zo-fw-bold);
            line-height: var(--zo-lh-h6);
        }
    }

    .price {
        margin: 10px 0;
        // padding: 10px 25px;
        font-size: var(--zo-fz-h5);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 15px;
        font-weight: var(--zo-fw-bold);

        .actual-price {
            color: var(--zo-common-light-gray);
            // margin-right: 15px;
        }

        .discount-price {
            color: var(--zo-common-discount-price);
            line-height: var(--zo-lh-h5);
            // margin-right: 15px;
        }
    }

    // .link-btn-secondary {
    //     margin: 0 25px;
    // }
}

.client-review-section {
    background-color: var(--zo-bg-light-blue);

    .review-card {
        text-align: center;
        padding: 85px 80px 25px;
        background-color: var(--zo-bg-page);

        .rating {
            font-size: var(--zo-fz-h4);
            color: var(--zo-icon-3);
            gap: 5px;
            margin: 15px 0;
        }

        .review-text {
            margin: 0;
            text-align: center;
        }
    }

    .customer-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: row;
        flex-wrap: no-wrap;
        margin: 15px 0 0;

        .customer-img {
            max-width: 50px;
            max-height: 50px;

            img {
                max-width: 50px;
                max-height: 50px;
                width: 100%;
                height: 100%;
            }
        }

        .customer-name {
            color: var(--zo-text-primary);
        }

        .customer-designation {
            color: var(--zo-theme-secondary);
        }
    }
}

.brand-logo-section {
    .brand-logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .single-logo {
        // margin: 30px auto;
        max-width: 150px;
        max-height: 75px;
        // padding: 25px 0;
        // text-align: center;

        img {
            max-width: 150px;
            max-height: 75px;
            width: auto;
            height: auto;
        }
    }
}

.newsletter-section {

    .titles-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .newsletter-mail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 auto;
        max-width: 688px;
        width: 100%;
        border: 1px solid var(--zo-border-1);
        border-radius: 5px;
        padding: 0;

        input {
            padding: 15px 20px;
            width: 100%;
            height: 100%;
            background-color: var(--zo-bg-input);
            border: none;

            &:focus {
                outline: none;
            }
        }
    }
}

footer {

    .footer-row {
        // row-gap : 30px;

        .footer-title {
            margin: 20px 0;
        }

        .col-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25%;
            // gutter: 50px;
            // justify-content: space-evenly;

            // @media (max-width: 768px) {
            //     gap: 10%;
            // }
        }

        .left-col,
        .right-col {
            min-width: 150px;
        }

        // .footer-links {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 10px;

        //     a {

        //         &:hover {
        //             color: var(--zo-theme-primary);
        //         }
        //     }

        //     i {
        //         color: var(--zo-theme-primary);
        //         font-size: 24px;
        //     }
        // }

        ul.footer-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 10px 0;

                a {
                    text-decoration: none;
                    color: var(--zo-text-body);

                    &:hover {
                        color: var(--zo-theme-primary);
                    }
                }
            }

            i {
                color: var(--zo-theme-primary);
                font-size: 24px;
            }

        }

    }


    .copyright {
        padding: 25px 0;
        display: flex;
        align-items: center;
        // margin: auto;
        justify-content: space-between;

        .icons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 20px;
            color: var(--zo-icon-pr);
            font-size: var(--zo-fz-h3);
        }
    }
}